* { 

    font-family: 'Source Sans 3', sans-serif;
    --theme-lightgrey: #F9F9F9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.light {    
    color: grey;
    font-weight: 300;
}
/*header*/


header {
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    font-size: 1.2em;
    z-index: 99;
}

header>h2>a {
    color: black; 
    text-decoration: none;
}

nav {
    width: 25%;
}

nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

nav>ul>li>a {
    color: black; 
    text-decoration: none;
}

#icons {
    display: none;
    cursor: pointer;
}

#mobile_menu {
    display: none;
}



/*main*/

    /*welcome section*/

#welcome {
    height: 100vh;
    background-color: var(--theme-lightgrey);
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
#title_text {
    font-size: 2.5em;
}

#quick_info {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    justify-content: space-between;
    padding: 20px 30px;

}

#quick_info>div {
    width: 25%;
}

#quick_socials img {
    height: 2em;
}

#skillset img {
    height: 3.5em;
}

#localisation {
    display: flex;
    align-items: flex-start;
}

#localisation p {
    font-size: 2em;
    color: black
}


#skillset, #quick_socials {
    display: flex;
    gap: 30px;
}

#skillset {
    align-items: center;
    justify-content: center;
}

#quick_socials {
    justify-content: end;
    align-items: center;
}

#mobile-menu {
    display: none;
}


    /*about*/

#about {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#about_container {
    height: 60%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#about h2{
    font-size: 3.5em;
}

#about p {
    font-size: 2em;
}


#portrait img {
    border: grey solid 3px;
    border-radius: 50%;
    height: 400px;
}

    /*projects*/

#projects {
    background-color: var(--theme-lightgrey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 8%;
    width: 100vw;
}

#projects_text h2{
    font-size: 3.5em;
}

#projects_text p {
    font-size: 1.5em;
}

#projects_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects_tiles {
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.tile {
    background-color: white;
    padding: 30px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    width: 70vw;
    border-radius: 15px;
}

.tile:nth-of-type(odd) {
    flex-direction: row-reverse;
}


.projects_descr {
    width: 50%;
}


.projects_descr h3{
    font-size: 1.5em;
}

.thumbnail img {
    height: 100%;
    border-radius: 15px;
    filter: drop-shadow(0 0 0.75rem grey);
}

.used_lang {
    font-weight: bold;
}

.link_to_project {
    text-decoration: none;
    color: black;
}
    /*contact*/

#contact {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact img {
    height: 2em;
}

#contact h2{
    font-size: 2.5em;
    text-align: center;
}

#contact>div {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    margin: 50px auto;
}

.contact_info a {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: grey;
}


/*MOBILE VER*/
@media (max-width: 650px) {



    body {
        overflow-x: hidden;

    }

        /*HEADER + NAVBAR*/

    header {
        background-color: white;
        box-shadow: 0 0 10px rgba(0,0,0,.09);
        position: fixed;
        top: 0;
        left: 0;
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8%;
        font-size: 1.2em;
        z-index: 4;
    }
    
    header>h2>a {
        color: black; 
        text-decoration: none;
        
    }
    
    nav {
        display: none;
    }

    #icons {
        display: flex;
        font-size: 1.2em;
    }

    #mobile_menu {
        background-color: var(--theme-lightgrey);
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        position: fixed;
        left: 100vw;
        transition: 0.25s;
    }

    #mobile_menu.active {   
        left: 0;
    }

    #mobile_menu ul {
        font-size: 1.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
        list-style: none;

    }

    #mobile_menu a {
        color: black;
        text-decoration: none;
    }

    #mobile_menu a:hover {
        color: grey;
    }

    /*WELCOME SECTION*/

    #welcome {
        padding: 20px;

        
    }
    #title_text {
        font-size: 1.5em;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #title_text p {
        font-size: 0.8em;
    }
    
    #quick_info {   
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    #quick_info>div {
        width: 55%;
    }
    
    #quick_socials {
        height: 1.5em;
        display: none;
    }

    #skillset img {
        height: 2em;
    }
    
    #localisation {
        justify-content: center;
        flex-direction: row;
    }
    
    #localisation p {
        font-size: 1.5em;
        color: black
    }

    /*ABOUT*/

    #about {
        flex-direction: column-reverse;
    }

    #portrait img {
        height: 150px;
    }


    #about h2 {
        font-size: 2em;

    }

    #about p{
        font-size: 1rem;
    }


    /*PROJECTS*/

    #projects {
        display: flex;
        align-items: center;
    }


    #projects_text {
        text-align: center;
        gap: 20px;
        padding: 30px;
    }

    #projects h2 {
        font-size: 2em;
    }

    #projects_text p{
        font-size: 1rem;
    }

    #projects h3 {
        font-size: 1.2em;
    }

    .projects_descr {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 30%;
        width: 100%;
    }

    .projects_descr p {
        font-size: 0.8em;
    }

    .link_to_project {
        align-self: center;
    }
    .tile {
        padding: 10px;
        flex-direction: column-reverse;
        margin: auto ;
        height: auto;
        width: 80%
    }

    .tile:nth-of-type(odd) {
        flex-direction: column-reverse;
    }

    .thumbnail img {
        width: 100%;
    }

    /*CONTACT*/

    #contact h2{
        font-size: 2em;
    }

    #contact>div {
        flex-direction: column;
    }

    #contact img {
        height: 1em;;
    }

    #contact p {
        font-size: 1rem;
    }

}


